@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"]</h1>


<div class="text-center">
    <img width="500"
     src="https://th.bing.com/th/id/OIP.vr7H0IIuKztnuO77kYigTwHaEK?pid=ImgDet&rs=1" img />
<br />
<p>
    Olá! Sou o Miguel Brito, e estou a aprofundar os meus conhecimentos em programação num curso do IEFP,
    para poder me integrar nesta área do mercado de trabalho.
</p>
<br />
<h3>Desenvolvido a 8 de Setembro de 2023</h3>
<br />
<h5>by Miguel Brito</h5>
<div/>