@{
	ViewData["Title"] = "Formação";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
	<br />
	<p>
		Durante o meu percurso neste curso, começamos pelo hardware físico onde revemos os componentes da máquina que é o computador, assim como também passamos pelo hardware de redes onde configuramos redes de raiz com a ajuda do Cisco Packet Tracer.
		Passamos também pelas ferramentas básicas do office, onde exploramos mecânicas mais avançadas úteis em contexto de trabalho. Mais tarde, abordamos os conceitos de SQL e de base de dados, as linguagens C, C++, C#, python, Visual  Basic, java ,javascript, assim como também HTML.
		Além dos conhecimentos do curso, já consegui aplicar alguns conhecimentos à minha vida pessoal, como desenvolver um software para o bar dos meus pais. 

	</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.4184302008925!2d-8.612078!3d41.147220100000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2464e30d713745%3A0xe0069625b8032a3a!2sHard%20Rock%20Cafe!5e0!3m2!1sen!2spt!4v1694457193854!5m2!1sen!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	<br />
	<h5>by Miguel Brito</h5>

	<div />
