@{
    ViewData["Title"] = "Interesses";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <p>
        Nos meus tempos livres gosto de tocar guitarra e conviver com amigos principalmente. Além disso, gosto ver todo o tipo de filmes e séries, 
        opto mais por ficar em casa do que sair, qb, aprecio comer e cozinhar pratos especiais, desportos de equipa e atividades, viajar e conhecer sítios 
e culturas novas. Enfim tenho gosto pela vida e por tudo o que ela tem para oferecer.
    </p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/rlQXAk6NOak?si=k_Fc0tBZcaXLNpBK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>
