@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Veícles</h1>

    <img width="600" height="600" src="https://clipart-library.com/images/8cG6jaoxi.gif" alt="Animated Car GIF by deathbycartoon on Clipart library" style="max-height: 100%;max-width: 100%;">
</div>
