@{
    ViewData["Title"] = "Termos e Privacidade";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>Serve o presente website para fins académicos de Luís Miguel Brito.</p>
<p>Qualquer problema, favor contactar os serviços da Microsoft.</p>
<p>Este documento é da exclusiva responsabilidade do IEFP-Gaia.</p>
